body{
   
    background-color: rgb(182, 180, 178);
    max-height:70%;
    max-width: 45%;
    margin:  5% 0% 0% 25%;
   

}
fieldset
{
    color: rgb(101, 103, 197);
    background-color: rgb(247, 201, 233);
}
legend
{
    padding: auto;
    color: rgb(207, 21, 21);
    font-size:x-large;
    border: 50%;
    text-transform: capitalize;
  font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
   
}
form:focus-visible
{

    text-align: center;
    color: rgb(59, 10, 150);
}
input[type="submit"]
{
cursor:pointer;
 color: brown;
 font-size: large;
}
input[type="reset"]
{
cursor:pointer;
 color: rgb(241, 41, 41);
 font-size: large;
}
label
{
    
   
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    font-size: large;
}
